.footer {
  font-size: smaller;

  background-color: #efefef;
  padding: 20px 0;
  margin-top: 20px;
}

.footer .copyright {
  text-align: center;
}

.google-maps {
	position: relative;
	padding-bottom: 75%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
}
.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.author-image {
  width: 64px;
  height: 64px;
}
