---
layout: default
title: Events
description: Recent and upcoming hack nights and other Code for San Francisco events.
---

<h1>
  <i class='fa fa-calendar-o'></i> Events
</h1>

<p>
  Past and upcoming events, with links to each event's agenda and any resources. We host Hack Night every Wednesday and
  several larger and special events throughout the year.

  <p>
    <a href='{{ site.baseurl }}/feeds/events.xml'><i class='fa fa-rss-square'></i> RSS feed</a>
  </p>
</p>

<table data-paging='false', data-info='false', data-order='[[ 0, "desc" ]]' class='table table-striped table-borderless datatable'>
  <thead>
    <tr itemscope itemtype='http://schema.org/Event'>
      <th scope="col">Date</th>
      <th scope="col">Event</th>
      <th scope="col">Speaker(s)</th>
    </tr>
  </thead>
  <tbody>
    {% assign now_unix = 'now' | date: '%s' | plus: 604800 %}
    {% for event in site.events %}
    {% assign date_unix = event.date | date: '%s' | plus: 0 %}
    {% if date_unix < now_unix %}
      <tr>
        <th data-order="{{ event.date }}" scope="row" class='nowrap'>
            <meta itemprop='startDate' datetime='{{ event.date | date: "%Y-%m-%d" }}' content='{{ event.date | date: "%Y-%m-%d" }}' />
            <p>{{ event.date | date: "%b %-d, %Y" }}</p>
        </td>
        <td>
          <a href='{{ event.url }}' itemprop='url'><span itemprop='name'>{{ event.title }}</span></a>
          {% if event.youtube_id %}
            <small><i title='This event has a video' class='fa fa-fw fa-video-camera'></i></small>
          {% endif %}
        </td>
        <td>
          <ul class="list-unstyled">
            {% for speaker in event.speakers %}
              <li>{{speaker}}</li>
            {% else %}
              <li class="sr-only">No speaker</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
