---
layout: default

---

<h1 class="pt-3">We are Code for San Francisco</h1>
<p class="lead pb-3">
  As part of the <a href="https://brigade.codeforamerica.org/">Code for America Brigade Network</a>, we are a welcoming
  and inclusive volunteer group of developers,
  designers, data geeks, and citizen activists who use creative technology to solve civic and social problems.
</p>


 


  <div class="row mb-3 mt-5" >
  <div class="col-md-6">
    <ul class="list-group text-center">
      <li class="list-group-item">
        <h3>Civic Hack Night</h3>
        Open to both technical and non-technical volunteers, Civic Hack Night is an opportunity to discover local
        civic tech projects you can get involved in or start your own.
      </li>
      <li class="list-group-item" title="See Meetup for more info">
        <strong>When: </strong>Wednesdays, 6pm - 9:30pm<br>
        <small><i class="fa fa-info-circle"></i> See Meetup for more info</small>
      </li>
      <li class="list-group-item">
        <strong>Where:</strong>
        <a href="https://goo.gl/maps/BJu3c28TkL82"><del>Code for America</del> Online!</a>
      </li>
      <li class="list-group-item">
        <a href="https://www.meetup.com/Code-for-San-Francisco-Civic-Hack-Night" class="btn btn-danger">
          RSVP on Meetup
          <i class="fa fa-meetup"></i>
        </a>
      </li>
      <li class="list-group-item">
        <a href="http://c4sf.me/slack" class="btn btn-outline-info">
          Chat on Slack
          <i class="fa fa-slack"></i>
        </a>
      </li>
      <li class="list-group-item">
        <a href="http://eepurl.com/bfFkF9" class="btn btn-outline-info">
          Join our Newsletter
          <i class="fa fa-envelope"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ5TaJx2KAhYARCMH_oRu-g50&amp;key=AIzaSyBSdXQPDe62iDqi1Bp9u92gBGDSaeKWhBw"
      allowfullscreen=""></iframe>
  </div>

</div>

<div class="card mb-3">
  <div class="card-header">
    Recent blog posts <a class='pull-right' href='{{ site.baseurl }}/blog/'>All posts &raquo;</a>
  </div>
  <div class="card-body">
    {% comment %}
      show posts pinned to front page via pin_to_frontpage: true
    {% endcomment %}
    {% assign pinned_posts = site.posts | where_exp: 'post', 'post.pin_to_frontpage == true' | sort: 'date' | reverse %}
    {% for pinned_post in pinned_posts %}
      {% include post_list_item.html post=pinned_post %}
    {% endfor %}

    {% comment %}
      also show the latest unpinned post
    {% endcomment %}
    {% assign post = site.posts | where_exp: 'post', 'post.pin_to_frontpage != true' | sort: 'date' | reverse | first %}
    {% include post_list_item.html post=post %}
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <hr />

    <div class='sponsors'>
      <h2 id='sponsors'>Sponsors</h2>
      <p>
        Code for San Francisco is hosted at <a href='https://www.codeforamerica.org/'>Code for America</a> and supported
        by our amazing sponsors.
      </p>

      <p>
        Is your organization interested in becoming a Code for San Francisco sponsor? <a href="mailto:fundraising@codeforsanfrancisco.org">Drop us a line</a>!
      </p>
      <div class='row'>
        <div class='col-md-2'>
          <h4 class='sponsor-level'>Major Sponsors</h4>
        </div>
        <div class='col-md-3'>
          <div itemscope itemtype='http://schema.org/Organization'>
            <a href='http://www.microsoftbayarea.com/' itemprop='url'>
              <img src='{{ site.baseurl }}/img/sponsors/microsoft.png' alt='Microsoft' itemprop='logo' class='img-fluid' />
            </a>
          </div>
        </div>
      </div>
      <hr />
      <div class='row'>
        <div class='col-md-2'>
          <h4 class='sponsor-level'>Sustaining Sponsors</h4>
        </div>
        <div class='col-md-3'>
        </div>
      </div>
      <hr />
      <div class='row'>
        <div class='col-md-2'>
          <h4 class='sponsor-level'>Official Sponsors</h4>
        </div>
        <div class='col-md-3'>
        </div>
      </div>
    </div>
  </div>
</div>
