<script src="{{ site.baseurl }}/node_modules/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/node_modules/datatables.net/js/jquery.dataTables.js"></script>
<script src="{{ site.baseurl }}/node_modules/datatables.net-bs/js/dataTables.bootstrap.js"></script>
<script src="{{ site.baseurl }}/node_modules/jquery-address/src/jquery.address.js"></script>
<script src="{{ site.baseurl }}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/node_modules/lunr/lunr.js"></script>

<script src="{{ site.baseurl }}/js/datatable.js"></script>
<script src="{{ site.baseurl }}/js/searchProjects.js"></script>
