<script src="{{ site.baseurl }}/js/vendor/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/vendor/jquery.dataTables.js"></script>
<script src="{{ site.baseurl }}/js/vendor/dataTables.bootstrap.js"></script>
<script src="{{ site.baseurl }}/js/vendor/jquery.address.js"></script>

<script src="{{ site.baseurl }}/js/vendor/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/vendor/lunr.js"></script>
<script src="{{ site.baseurl }}/js/vendor/mustache.min.js"></script>


<script src="{{ site.baseurl }}/js/datatable.js"></script>
<script src="{{ site.baseurl }}/js/searchProjects.js"></script>
