<!--
Either add scripts to js/vendor via the Makefile in the root directory or include the CDN version
-->

<script src="{{ site.baseurl }}/js/vendor/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/vendor/jquery.dataTables.js"></script>
<script src="{{ site.baseurl }}/js/vendor/dataTables.bootstrap.js"></script>
<script src="{{ site.baseurl }}/js/vendor/jquery.address.js"></script>
<script src="{{ site.baseurl }}/js/vendor/popper.min.js"></script>

<script src="{{ site.baseurl }}/js/vendor/bootstrap.min.js"></script>

<!-- doesn't exist in yarn, vendored manually -->
<script src="{{ site.baseurl }}/js/vendor/bootstrap-toc.min.js"></script>

<script src="{{ site.baseurl }}/js/vendor/lunr.js"></script>
<script src="{{ site.baseurl }}/js/vendor/mustache.min.js"></script>


<script src="{{ site.baseurl }}/js/datatable.js"></script>
<script src="{{ site.baseurl }}/js/searchProjects.js"></script>
<script src="{{ site.baseurl }}/js/nav.js"></script>
