---
layout: default
---
<article class='row'>
  <div class="col-lg-9">
    <header>
      <h2 data-toc-skip>{{ page.title }}</h2>
      <p class="text-secondary">
        Published on <time datetime="{{ page.date | date: "%Y-%m-%d" }}"> {{ page.date | date: "%b %-d, %Y" }} </time> by
        {% for author_key in page.authors %}
          {% assign author = site.data.authors[author_key] %}
          {{ author.name }}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </p>
      {% if page.image and page.image_list_only != true %}
        <p class="text-center">
          {% include image.html name=page.image alt=page.image_alt style="max-height: 400px" %}
        </p>
      {% endif %}
    </header>

    <section>
      {{ content }}
    </section>

    <hr />

    <footer>
      <h3 data-toc-skip>About the author(s)</h3>
      <address>
        {% for author_key in page.authors %}
          {% assign author = site.data.authors[author_key] %}
          <div class='media author'>
            <div class='media-left'>
              {% if author.url %}
                <a href='{{author.url}}'>
                  <img class='media-object author-image' src="https://gravatar.com/avatar/{{author.gravatar}}" alt="{{ author.name }}">
                </a>
              {% else %}
                <img class='media-object author-image' src="https://gravatar.com/avatar/{{author.gravatar}}" alt="{{ author.name }}">
              {% endif %}
            </div>
            <div class="media-body">
              <h4 data-toc-skip class="media-heading">
                {% if author.url %}
                  <a href='{{ author.url }}'>{{ author.name }}</a>
                {% else %}
                  {{ author.name }}
                {% endif %}
              </h4>
              <p>{{ author.bio }}</p>
            </div>
          </div>
        {% endfor %}
      </address>
    </footer>
  </div>
  <div class="col-lg-3">
    <nav id="toc" data-spy="affix"></nav>
  </div>
</article>
